Repository item4/yui: changes, and which pre-commit hooks are due for each by the changed paths.
All: zimports, black, flake8, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: check-ast
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: detect-private-key
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/asottile/yesqa
    rev: v1.2.2
    hooks:
    - id: yesqa
  - repo: local
    hooks:
      - id: zimports
        name: zimports
        exclude: |
          (?x)^(
            .*/templates/.*
          )$
        entry: zimports
        args: ['--expand-stars', '--keep-unused']
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        exclude: |
          (?x)^(
            .*/templates/.*
          )$
        entry: flake8
        language: system
        types: [ python ]
      - id: mypy
        name: mypy
        exclude: |
          (?x)^(
            .*/templates/.*
          )$
        entry: mypy
        language: system
        types: [ python ]

Downgrade psycopg 3 to 2
  poetry.lock
  pyproject.toml
Due: none

Downgrade to py39
  .github/workflows/ci.yml
  Dockerfile
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/util.py
  yui/apps/weather/aqi.py
  yui/bot.py
  yui/cache.py
Due: zimports, black, flake8, mypy

Upgrade subway region table versions
  yui/apps/search/subway.py
Due: zimports, black, flake8, mypy

Fix poetry install command
  README.rst
Due: none

Rename workflow
  .github/workflows/ci.yml
  README.rst
Due: none

Create missing venv
  .github/workflows/ci.yml
Due: none

Change cache id/key
  .github/workflows/ci.yml
Due: none

Remove dev-deps from Docker image
  .github/workflows/ci.yml
Due: none

Invalidate cache key when workflow changed
  .github/workflows/ci.yml
Due: none

Upgrade OHLI/anissia API version and change sub command actions
  yui/apps/search/sub.py
Due: zimports, black, flake8, mypy

Rebalance fuzz match score
  tests/utils/fuzz_test.py
  yui/utils/fuzz.py
Due: zimports, black, flake8, mypy

Change min ratio for search sub
  yui/apps/search/sub.py
Due: zimports, black, flake8, mypy

Enhance search
  yui/apps/search/sub.py
Due: zimports, black, flake8, mypy

Fix wrong operator
  yui/apps/search/sub.py
Due: zimports, black, flake8, mypy

Upgrade Python version and switch dt mock library
  .github/workflows/ci.yml
  Dockerfile
  poetry.lock
  pyproject.toml
  tests/apps/date/day_test.py
  tests/apps/date/weekend_test.py
  tests/apps/date/work_test.py
  tests/apps/info/packtpub_test.py
Due: zimports, black, flake8, mypy

Drop toranoana app
  yui/apps/info/toranoana/__init__.py
  yui/apps/info/toranoana/commands.py
  yui/apps/info/toranoana/commons.py
  yui/apps/info/toranoana/models.py
  yui/apps/info/toranoana/tasks.py
  yui/migrations/versions/2d8d76d94b27_drop_shared_cache_app.py
  yui/migrations/versions/59c36093b2ed_add_unique_constrant_for_eventlog.py
  yui/migrations/versions/75c91e7af605_drop_toranoana.py
  yui/migrations/versions/fbbdf21dcebe_drop_saomd.py
Due: zimports, black, flake8, mypy

Bump deps
  poetry.lock
  pyproject.toml
Due: none

Bump deps
  poetry.lock
Due: none

Apply black
  tests/apps/compute/calc_test.py
  yui/apps/compute/calc.py
Due: zimports, black, flake8, mypy

Collect old history on bot start
  yui/apps/manage/cleanup/handlers.py
Due: zimports, black, flake8, mypy

Drop model tests
  tests/apps/info/memo/models_test.py
  tests/apps/info/rss/__init__.py
  tests/apps/info/rss/models_test.py
Due: zimports, black, flake8, mypy

Use asyncpg instead psycopg2
  poetry.lock
  pyproject.toml
Due: none

Use asyncio ext for DB operations
  tests/apps/info/memo/commands_test.py
  tests/conftest.py
  yui/apps/info/memo/commands.py
  yui/apps/info/rss/commands.py
  yui/apps/manage/cleanup/commands.py
  yui/apps/manage/cleanup/commons.py
  yui/apps/manage/cleanup/handlers.py
  yui/apps/manage/cleanup/tasks.py
  yui/bot.py
  yui/box/apps/base.py
  yui/box/apps/basic.py
  yui/box/apps/route.py
  yui/cli.py
  yui/orm/engine.py
  yui/orm/session.py
Due: zimports, black, flake8, mypy

Use asyncpg for CI testing
  .github/workflows/ci.yml
Due: none

Add missing text wrapping
  tests/conftest.py
Due: zimports, black, flake8, mypy

Fix engine clean-up for pytest
  tests/conftest.py
Due: zimports, black, flake8, mypy

Fix class signature
  tests/bot_test.py
Due: zimports, black, flake8, mypy

Fix deprecation
  tests/conftest.py
Due: zimports, black, flake8, mypy

Use fixture instead of yield_fixture decorator
  tests/conftest.py
Due: zimports, black, flake8, mypy

Use begin_nested for avoid SA20 problem
  yui/apps/info/memo/commands.py
Due: zimports, black, flake8, mypy

Set pytest-asyncio mode to auto
  pyproject.toml
Due: none

Use get_running_loop instead deprecated get_event_loop
  tests/util.py
  yui/bot.py
Due: zimports, black, flake8, mypy

Add missing await
  tests/conftest.py
Due: zimports, black, flake8, mypy

Try to fix transaction bugs
  yui/apps/manage/cleanup/commons.py
  yui/apps/manage/cleanup/handlers.py
  yui/apps/manage/cleanup/tasks.py
Due: zimports, black, flake8, mypy

Make collect command for manage
  yui/apps/manage/cleanup/commands.py
  yui/apps/manage/cleanup/commons.py
  yui/apps/manage/cleanup/tasks.py
Due: zimports, black, flake8, mypy

Remove template directory for chatterbox plan
  yui/templates/chatterbox/__init__.py.mako.py
  yui/templates/chatterbox/alembic.ini.mako
  yui/templates/chatterbox/env.py
  yui/templates/chatterbox/script.py.mako
Due: black

Fix typo and old version
  README.rst
Due: none

Remove template dir from coverage omit setting
  .coveragerc
Due: none

Fix typo about old chatterbox plan
  yui/apps/core.py
  yui/apps/search/ref.py
  yui/apps/search/subway.py
  yui/bot.py
  yui/event.py
Due: zimports, black, flake8, mypy
